@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

$cursive: 'Lobster Two', cursive;

$plain-font: Arial, Helvetica, sans-serif;

$title-font: $plain-font;

$darkpink: #800080;
$pink: lighten(desaturate($darkpink, 40%), 40%);

$darkcyan: #008080;
$cyan: lighten(desaturate($darkcyan, 40%), 40%);

$light: #E6E6E6;
$dark: #39393A;

$large-text: 18.66px;
$small-text: 16px;

@mixin theme-colors($light-theme: true) {
    @if $light-theme {
        background-color: $light;
        color: $dark;
    } @else {
        background-color: $dark;
        color: $light;
    }
}

@mixin button-colors($pink-button: true) {
    @if $pink-button {
        background: linear-gradient($darkpink, $pink);
        &:hover {
            background: linear-gradient(darken($darkpink, 15%), darken($pink, 15%));
        }
    } @else {
        background: linear-gradient($darkcyan, $cyan);
        &:hover {
            background: linear-gradient(darken($darkcyan, 15%), darken($cyan, 15%));
        }
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin filter($property) {
    -webkit-filter: $property;
    filter: $property;
}

