* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body {
    font-family: $plain-font;
    background-color: $darkcyan;
    color: $dark;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: $title-font;
}

header {
    background-color: #39393A;
    font-family: $title-font;
    position: relative;
    @extend %glossy;
    background: linear-gradient($darkpink, $pink);
}

#top {
    max-width: 1200px;
    margin: 0 auto;
    color: $light;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 3;
}

#site-name {
    font-size: 3rem;
    line-height: 2rem;
    text-decoration: none;
    color: $light;
    font-family: $cursive;
}

#site-name:hover {
    color: darken($light, 20%);
}

.wrapper {
    display: flex;
}

.content {
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    p {
        max-width: 700px;
    }
}

.wrapper.light {
    @include theme-colors($light-theme: true);
}

.wrapper.dark {
    @include theme-colors($light-theme: false);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
    color: $light;
    flex-wrap: wrap;
    font-size: $small-text;
    ul {
        list-style: none;
        padding: 0;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    a { color: $light; }
}

.parallax {
    position: relative;
    color: $light;
    text-shadow: 0px -1px #333;
    #header-image {
        background-image: url("../img/beakers.jpg");
        min-height: 300px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .inner {
            z-index: 2;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1rem;
            width: 100%;
            p {
                max-width: 700px;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: transparentize(#000, .6);
        height: 100%;
        width: 100%;
    }
}

.avatar {
    @extend %avatar;
    @include filter(saturate(120%));
}




