@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    #main-menu {
        position: absolute;
        right: 0;
        top: 72px;
        box-shadow: 0px 1px 4px -2px #333;
        ul {
            flex-direction: column;
    
            li {
                display: flex;
                border-radius: 0 !important;
                padding: 0;
                &:after {
                    border-radius: 0 !important;
                    width: calc(100% - 4px) !important;
                    left: 2px;
                }
                a {
                    padding: 1rem 1.5rem;
                    width: 100%;
                    text-align: center;
                }
            }
        } 
    }
}

@media screen and (max-width: 500px) {
    #header-content {
        text-align: center;
    }
    .content {
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1, h2, h3 {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 769px) {
    #main-menu.closed {
        transform: none;
    }
}